body {
    font-family: 'Poppins', sans-serif;
}
header {
    overflow: hidden;
}

#prev, #next {
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
}
#prev:hover, #next:hover {
    color:darkgoldenrod;
}

.subnavDiv {
    display: none;
}
.active {
    display: block;
}
.number {
    color: darkgoldenrod;
    font-size: 2rem;
}
@media only screen and (max-width: 300px) {

}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .number {
        font-size: 1.7rem;
    }
}